.countdown {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #D32F2F;
    color: #FFFFFF;
}

.countdown__unit {
    text-align: center;
}

.countdown__unit:not(:last-child)::after {
    content: ":";
    margin-left: 5px;
}